body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #9fcaff 0%, #000000 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  color: white;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.09em;
  --top-offset: 69.3vh;
  --fall-duration: 6.214s;
  --fall-delay: 6.431s;
}
.star:nth-child(2) {
  --star-tail-length: 5.51em;
  --top-offset: 34.97vh;
  --fall-duration: 10.125s;
  --fall-delay: 8.537s;
}
.star:nth-child(3) {
  --star-tail-length: 5.16em;
  --top-offset: 87.56vh;
  --fall-duration: 10.854s;
  --fall-delay: 7.59s;
}
.star:nth-child(4) {
  --star-tail-length: 6.28em;
  --top-offset: 42.57vh;
  --fall-duration: 6.823s;
  --fall-delay: 3.712s;
}
.star:nth-child(5) {
  --star-tail-length: 5.19em;
  --top-offset: 6.06vh;
  --fall-duration: 9.961s;
  --fall-delay: 6.18s;
}
.star:nth-child(6) {
  --star-tail-length: 6.14em;
  --top-offset: 18.98vh;
  --fall-duration: 7.492s;
  --fall-delay: 9.79s;
}
.star:nth-child(7) {
  --star-tail-length: 6.71em;
  --top-offset: 12.36vh;
  --fall-duration: 7.344s;
  --fall-delay: 4.692s;
}
.star:nth-child(8) {
  --star-tail-length: 6.94em;
  --top-offset: 32.09vh;
  --fall-duration: 7.169s;
  --fall-delay: 0.907s;
}
.star:nth-child(9) {
  --star-tail-length: 6.77em;
  --top-offset: 67.79vh;
  --fall-duration: 8.291s;
  --fall-delay: 0.375s;
}
.star:nth-child(10) {
  --star-tail-length: 5.11em;
  --top-offset: 31.39vh;
  --fall-duration: 11.018s;
  --fall-delay: 6.186s;
}
.star:nth-child(11) {
  --star-tail-length: 6.11em;
  --top-offset: 3.8vh;
  --fall-duration: 9.978s;
  --fall-delay: 3.668s;
}
.star:nth-child(12) {
  --star-tail-length: 5.59em;
  --top-offset: 10.77vh;
  --fall-duration: 6.964s;
  --fall-delay: 7.933s;
}
.star:nth-child(13) {
  --star-tail-length: 7.21em;
  --top-offset: 74.28vh;
  --fall-duration: 7.056s;
  --fall-delay: 5.55s;
}
.star:nth-child(14) {
  --star-tail-length: 6.22em;
  --top-offset: 53.36vh;
  --fall-duration: 7.243s;
  --fall-delay: 1.195s;
}
.star:nth-child(15) {
  --star-tail-length: 6.03em;
  --top-offset: 59.79vh;
  --fall-duration: 10.043s;
  --fall-delay: 0.215s;
}
.star:nth-child(16) {
  --star-tail-length: 5.86em;
  --top-offset: 21.05vh;
  --fall-duration: 8.295s;
  --fall-delay: 1.451s;
}
.star:nth-child(17) {
  --star-tail-length: 5.84em;
  --top-offset: 76.93vh;
  --fall-duration: 6.975s;
  --fall-delay: 1.137s;
}
.star:nth-child(18) {
  --star-tail-length: 6.87em;
  --top-offset: 50.56vh;
  --fall-duration: 8.173s;
  --fall-delay: 4.719s;
}
.star:nth-child(19) {
  --star-tail-length: 5em;
  --top-offset: 23.87vh;
  --fall-duration: 9.515s;
  --fall-delay: 5.059s;
}
.star:nth-child(20) {
  --star-tail-length: 5.99em;
  --top-offset: 92.46vh;
  --fall-duration: 10.657s;
  --fall-delay: 7.612s;
}
.star:nth-child(21) {
  --star-tail-length: 6.37em;
  --top-offset: 96.69vh;
  --fall-duration: 7.428s;
  --fall-delay: 8.04s;
}
.star:nth-child(22) {
  --star-tail-length: 6.28em;
  --top-offset: 33.78vh;
  --fall-duration: 6.49s;
  --fall-delay: 2.99s;
}
.star:nth-child(23) {
  --star-tail-length: 7em;
  --top-offset: 80.57vh;
  --fall-duration: 9.863s;
  --fall-delay: 4.014s;
}
.star:nth-child(24) {
  --star-tail-length: 7.44em;
  --top-offset: 34.06vh;
  --fall-duration: 8.521s;
  --fall-delay: 9.304s;
}
.star:nth-child(25) {
  --star-tail-length: 5.75em;
  --top-offset: 98.6vh;
  --fall-duration: 10.114s;
  --fall-delay: 9.011s;
}
.star:nth-child(26) {
  --star-tail-length: 6.47em;
  --top-offset: 86.76vh;
  --fall-duration: 11.438s;
  --fall-delay: 2.899s;
}
.star:nth-child(27) {
  --star-tail-length: 5.51em;
  --top-offset: 1.94vh;
  --fall-duration: 8.513s;
  --fall-delay: 4.117s;
}
.star:nth-child(28) {
  --star-tail-length: 5.7em;
  --top-offset: 69.36vh;
  --fall-duration: 6.786s;
  --fall-delay: 3.012s;
}
.star:nth-child(29) {
  --star-tail-length: 5.82em;
  --top-offset: 75.66vh;
  --fall-duration: 11.297s;
  --fall-delay: 5.018s;
}
.star:nth-child(30) {
  --star-tail-length: 6.93em;
  --top-offset: 73.29vh;
  --fall-duration: 6.866s;
  --fall-delay: 2.929s;
}
.star:nth-child(31) {
  --star-tail-length: 6.45em;
  --top-offset: 41.22vh;
  --fall-duration: 10.641s;
  --fall-delay: 5.315s;
}
.star:nth-child(32) {
  --star-tail-length: 6.34em;
  --top-offset: 62.45vh;
  --fall-duration: 10.31s;
  --fall-delay: 6.05s;
}
.star:nth-child(33) {
  --star-tail-length: 6.76em;
  --top-offset: 82.72vh;
  --fall-duration: 8.459s;
  --fall-delay: 7.419s;
}
.star:nth-child(34) {
  --star-tail-length: 6.96em;
  --top-offset: 7.3vh;
  --fall-duration: 8.307s;
  --fall-delay: 8.65s;
}
.star:nth-child(35) {
  --star-tail-length: 5.67em;
  --top-offset: 51.17vh;
  --fall-duration: 8.244s;
  --fall-delay: 8.33s;
}
.star:nth-child(36) {
  --star-tail-length: 5.77em;
  --top-offset: 30.88vh;
  --fall-duration: 6.227s;
  --fall-delay: 5.186s;
}
.star:nth-child(37) {
  --star-tail-length: 7.11em;
  --top-offset: 44.2vh;
  --fall-duration: 6.022s;
  --fall-delay: 6.453s;
}
.star:nth-child(38) {
  --star-tail-length: 6.79em;
  --top-offset: 64.83vh;
  --fall-duration: 7.312s;
  --fall-delay: 1.884s;
}
.star:nth-child(39) {
  --star-tail-length: 6.3em;
  --top-offset: 48.05vh;
  --fall-duration: 10.162s;
  --fall-delay: 6.202s;
}
.star:nth-child(40) {
  --star-tail-length: 7.24em;
  --top-offset: 45.49vh;
  --fall-duration: 6.116s;
  --fall-delay: 0.289s;
}
.star:nth-child(41) {
  --star-tail-length: 5.79em;
  --top-offset: 13.92vh;
  --fall-duration: 11.913s;
  --fall-delay: 4.446s;
}
.star:nth-child(42) {
  --star-tail-length: 5.6em;
  --top-offset: 48.13vh;
  --fall-duration: 8.045s;
  --fall-delay: 7.717s;
}
.star:nth-child(43) {
  --star-tail-length: 6.09em;
  --top-offset: 23.1vh;
  --fall-duration: 11.308s;
  --fall-delay: 9.071s;
}
.star:nth-child(44) {
  --star-tail-length: 5.51em;
  --top-offset: 50.51vh;
  --fall-duration: 6.468s;
  --fall-delay: 5.615s;
}
.star:nth-child(45) {
  --star-tail-length: 7.13em;
  --top-offset: 7.46vh;
  --fall-duration: 7.428s;
  --fall-delay: 9.041s;
}
.star:nth-child(46) {
  --star-tail-length: 5.74em;
  --top-offset: 26.55vh;
  --fall-duration: 10.291s;
  --fall-delay: 7s;
}
.star:nth-child(47) {
  --star-tail-length: 6.96em;
  --top-offset: 78.72vh;
  --fall-duration: 11.317s;
  --fall-delay: 9.788s;
}
.star:nth-child(48) {
  --star-tail-length: 5.67em;
  --top-offset: 79.31vh;
  --fall-duration: 7.28s;
  --fall-delay: 7.768s;
}
.star:nth-child(49) {
  --star-tail-length: 5.9em;
  --top-offset: 98.08vh;
  --fall-duration: 10.018s;
  --fall-delay: 1.424s;
}
.star:nth-child(50) {
  --star-tail-length: 7.25em;
  --top-offset: 81.95vh;
  --fall-duration: 11.318s;
  --fall-delay: 4.089s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=style.css.map */